:root {
    --primary: #B18F5C;
    --secondary: #C3B087;
    --tertiary: #9B8F56;
    --main-background: #472026;
    --border-primary: #c1ae51;
    --border-secondary: #948669;
}


body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: var(--main-background);
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    color: #000;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: var(--primary);
    color: black;
    border-radius: 0;
    border-bottom: 10px solid var(--border-secondary);
  }

  #currentDay {
      margin-top: 20px;
      font-weight: bold;
      padding: 15px;
      height: 50px;
      background: #c4a971;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    border-radius: 15px;
    text-align: center;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid var(--border-secondary);
  }

  .row-end {
    border-bottom: 1px solid var(--border-secondary);
  }
  
  .hour {
    background-color: var(--tertiary);
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px dashed var(--border-secondary);
    line-height: 70px;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--secondary);
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .saveBtn:hover {
    background-color: #fff;
    transition: all .3s ease-in-out;
  }