:root {
    --primary: #B18F5C;
    --secondary: #C3B087;
    --tertiary: #9B8F56;
    --main-background: #472026;
    --border-primary: #c1ae51;
    --border-secondary: #948669;
}

/* element selectors */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
    background: var(--main-background);
  }
  
  textarea {
    background: transparent;
    border: none;
    resize: none;
    border-left: 1px solid black;
    padding: 10px;
  }
  
  /* jumbotron start */
  .jumbotron {
    text-align: center;
    background-color: var(--primary);
    color: black;
    border-radius: 0;
    border-bottom: 10px solid var(--border-secondary);
  }

  #currentDay {
      margin-top: 20px;
      font-weight: bold;
      padding: 15px;
      height: 50px;
      background: #c4a971;
  }

  #workHours {
    color: #fff;
  }

  #clearSlots {
    width: 250px;
    background: #55050c;
    border: 0;
  }

  #clearSlots:hover {
    background: #fff;
    color: #000;
    transition: all .3s ease-in-out;
  }
  /* jumbotron end */
  
  /* time blocks start */
  .time-block{
    border-radius: 15px;
    text-align: center;
  }

  .hour {
    background-color: var(--tertiary);
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top: 1px dashed var(--border-secondary);
    line-height: 70px;
  }

  .description{
    white-space: pre-wrap;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid var(--border-secondary);
  }

  .row-end {
    border-bottom: 1px solid var(--border-secondary);
  }
  
  .past,
  .past textarea {
    background-color: #4e4c4c;
    color: #fff;
  }
  
  .present,
  .present textarea {
    background-color: #780600;
    color: #fff;
  }
  
  .future,
  .future textarea {
    background-color: #023802;
    color: #fff;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--secondary);
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
  }
  
  .saveBtn:hover {
    background-color: #fff;
    transition: all .3s ease-in-out;
  }
  /* time blocks end */